# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.env

# OS
.DS_Store
Thumbs.db

# Audio / data
audio/*.wav
audio/*.mp3

# Hugging Face / Torch cache
.cache/
.torch/
**/cache/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log